# Only accessible from the server component or server functions
BACKEND_API_URL=http://localhost:5000 

# Accessible from the client and server component or server functions
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:5000